@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
}

body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/030/663/711/large_2x/calming-anime-background-high-quality-free-photo.jpg);
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 8px;
}

h1 {
    color: white;
    margin: 10px;
}

input {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}


.add-button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background-color: #4a90e2;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.add-button:hover {
  background-color: #357ABD;
}


ul li {
    color: white;
    gap: 5px;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 220px; 
  color: white;
  list-style: none;
  margin-top: 10px;
}

.delete-button {
  background: none;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.2s;
}

.delete-button:hover {
  background-color: darkred;
}
