/* Main Selectors */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: 'Poppins', sans-serif;
  font-size: 0.5rem;
  font-weight: 400;
}

body {
  background-color: hsl(0, 100%, 74%);
  background-image: url("./images/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main{
    display: flex;
    width: 50%;
    flex-direction: row;
}

/* Div 1 INTRODUCTION containing text */

#introduction{
    flex-direction: column;
}

h1{
    font-size: 2rem;
    font-weight: 700;
}

#introduction p{
    font-size: 0.5rem;
}

/* Div 2 SIGN-UP containing Try, Form */

#sign-up{
    flex-direction: column;
}

/* TRY Div and Text */

#try{
    background-color: hsl(248, 32%, 49%);
    box-shadow: hsl(248, 32%, 49%);
}

#try p{
    color: hsl(246, 25%, 77%);
}

#bold{
    font-weight: 600;
}

/* Div FORM containing Input & Button*/

#form{

}

/* Inputs */

input{
    color: gray;
    border: hsl(246, 25%, 77%);
    border-radius: 5px;
    font-weight: 600;
    box-shadow: gray;
}


input:focus{
    border: hsl(249, 10%, 26%);
    color: black;
}

/* Button */

button{
    background-color: hsl(154, 59%, 51%);
    box-shadow: hsl(154, 59%, 51%);
    text-transform: capitalize;
}

button:focus{
    background-color:hsl(154, 59%, 51%);
    cursor: pointer;
}

/* Terns and Services text */

#terms{
    color: hsl(0, 100%, 74%);
}

/* Attribution */

.attribution a{
    text-decoration: none;
}

/* Error Messages */

.error-message {
  color: hsl(0, 100%, 74%) ;
  display: none;
  border: hsl(0, 100%, 74%);
}

.error-message img{
    display: none;
}

/* Media Queries */

@media (max-width: 600px) {
      
    body {
        background-image: url("./images/bg-intro-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        flex-direction: column;
    }

    h2 {
        font-size: 1rem;
        padding: 0 10px;
      }

      p {
        font-size: 0.85rem;
        padding: 0 15px;
      }
    }

    @media (min-width: 601px) and (max-width: 1024px) {
      h2 {
        font-size: 1.1rem;
        padding: 20px 20px;
        padding-bottom: 5px;
      }

      p {
        font-size: 0.9rem;
        padding: 0 20px;
        padding-bottom: 20px;
      }
    }

    @media (min-width: 1025px) {
      h2 {
        font-size: 1.25rem;
        padding: 20px 30px;
      }

      p {
        font-size: 1rem;
        padding: 0 30px;
        padding-bottom: 20px;
      }
    }